/* General Styles */
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    align-items: center;
    display: flex;
    justify-content: center;
}

.container {
    width: 1440px;
    height: 1024px;
    position: relative;
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #F5F7FF;
}

.header {
    width: 313px;
    height: 74px;
    position: absolute;
    top: 213px;
    left: 562px;
}

.header-bg {
    width: 100%;
    height: 100%;
    background: #163172;
}

.header-text {
    width: 245px;
    height: 52px;
    position: absolute;
    left: 34px;
    top: 11px;
    color: white;
    font-size: 36px;
    font-weight: 300;
}

.form-container {
    width: 502px;
    height: 550px;
    position: absolute;
    top: 350px;
    left: 470px;
}

.form-bg {
    width: 100%;
    height: 100%;
    background: #CBD4F9;
    border-radius: 50px;
}

.form-label {
    position: absolute;
    color: #163172;
    font-size: 24px;
    font-weight: 400;
}

#student-name,
#college-name,
#pnr-number {
    width: 434px;
    height: 47px;
    position: absolute;
    background: white;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-size: 20px;
    color: black;
    opacity: 0.5;
}

#student-name {
    top: 84px;
    left: 25px;
}

#college-name {
    top: 207px;
    left: 25px;
    width: 454px;
    height: 67px;
}

#pnr-number {
    top: 328px;
    left: 25px;
}

.form-label[for="student-name"] {
    top: 46px;
    left: 31px;
}

.form-label[for="college-name"] {
    top: 169px;
    left: 31px;
}

.form-label[for="pnr-number"] {
    top: 290px;
    left: 31px;
}

.login-button {
    width: 313px;
    height: 74px;
    position: absolute;
    top: 435px;
    left: 94px;
    background: #163172;
    border-radius: 50px;
    border: none;
    color: white;
    font-size: 36px;
    font-weight: 300;
    cursor: pointer;
}

.header-banner {
    width: 1440px;
    height: 160px;
    position: absolute;
    top: 0;
    left: 0;
}

.banner-bg {
    width: 100%;
    height: 100%;
    background: white;
}

.banner-img {
    width: 165px;
    height: 117px;
    position: absolute;
    left: 18px;
    top: 21px;
}

.banner-text {
    width: 635px;
    height: 117px;
    position: absolute;
    left: 222px;
    top: 21px;
}

.banner-title {
    color: rgba(0, 0, 153, 0.89);
    font-size: 30px;
    font-weight: 500;
}

.banner-subtitle {
    color: #494949;
    font-size: 16px;
    font-weight: 500;
}

.greetings{
    position: absolute;
    top: 160px;
    left: 50px;
    color: rgb(0, 0, 102);;
}

.logout{
    position: absolute;
    right: 0px;
    top: 160px;
    width: 60px;
    height: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    background-color: #163172;
    color: white;
    border-radius: 10px;
}