<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Dashboard</title>
    <link rel="stylesheet" href="css/collegeDashboard.css">
</head>

<body>
    <div class="nav-container">
        <nav>
            <div class="logo">
                <a href="/">
                    <img src="/images/logo.png" alt="Logo">
                </a>
            </div>
            <ul>
                <li><a href="/clgdashboard" class="active-tab">Dashboard</a></li>
                <li><a href="/clgstudentreg">New Registration</a></li>
                <li><a href="/clgstudentrecords">Student Records</a></li>
                <li><a href="/clgstudentapproval">Course Approval</a></li>
                <li><a href="/">Logout</a></li>
            </ul>
        </nav>
    </div>

    <!-- Main Dashboard Content -->
    <div class="dashboard-content">
        <div class="dashboard-item streams">
            <a href="">Total Streams</a>
            <div class="data">120</div>
        </div>
        <div class="dashboard-item courses">
            <a href="">Total Courses</a>
            <div class="data">{{totalCourses}}</div>
        </div>
        <div class="dashboard-item students">
            <a href="">Students Enrolled</a>
            <div class="data">{{totalStudents}}</div> <!-- Display the total number of students -->
        </div>
        {{!-- <div class="dashboard-item verifications">
            <a href="">Pending Verifications</a>
            <div class="data">84</div>
        </div> --}}
        <div class="dashboard-item notifications">
            <a href="">Notifications</a>
        </div>
    </div>
    <script src="js/collegeDashboard.js"></script>
</body>

</html>