<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="css/homepage.css">
</head>
<body>
    <div class="container">
        <nav>
            <div class="header-banner">
                <div class="banner-bg"></div>
                <img class="banner-img" src="images/logo.png" alt="University Logo" />
                <div class="banner-text">
                    <span class="banner-title">Shreemati Nathibai Damodar Thackersey Women’s University<br/></span>
                    <span class="banner-subtitle">1, Nathibai Thackersey Road, Mumbai 400020</span>
                </div>
                <div class="login-buttons">
                    <button onclick="window.location.href='/clgdashboard'" class="college-login">College Login</button>
                    <button onclick="window.location.href='/login'" class="student-login">Student Login</button>
                </div>
            </div>
        </nav>
        <main>
            <div class="project_name">Multidisciplinary Credit Management System</div>
            <br>
            <div class="names">Zenia Nouphal &nbsp; Spruha Kalkundre &nbsp; Mukta Kulkarni</div>

        </main>
    </div>
    <footer>
        <div class="footer-content">
            <div class="address">
                <h3>Address</h3>
                <p>1, Nathibai Thackersey Road, Mumbai 400020</p>
            </div>
            <div class="contact-info">
                <h3>Contact Information</h3>
                <p><i class="fas fa-globe"></i> <a href="https://sndt.ac.in/">https://sndt.ac.in/</a></p>
                <p><i class="fas fa-phone"></i> 022-2203 1879</p>
                <p><i class="fas fa-phone"></i> 022-2203 2159</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>Copyright © 2025 Maharashtra Knowledge Corporation Limited. All Rights Reserved.</p>
            <p>Visitors: <span class="visitors-count">58226</span></p>
        </div>
    </footer>
</body>