<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="css/homepage.css">
</head>
<body>
    <div class="container">
        <div class="header-banner">
            <div class="banner-bg"></div>
            <img class="banner-img" src="images/logo.png" alt="University Logo" />
            <div class="banner-text">
                <span class="banner-title">Shreemati Nathibai Damodar Thackersey Women’s University<br/></span>
                <span class="banner-subtitle">1, Nathibai Thackersey Road, Mumbai 400020</span>
            </div>
            <div class="login-buttons">
                <button onclick="window.location.href='/clgstudentreg'" class="college-login">College Login</button>
                <button onclick="window.location.href='/login'" class="student-login">Student Login</button>
            </div>
        </div>
    </div>
</body>
</html>