<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Certificate</title>
    <link rel="stylesheet" href="css/studentUploadCertificate.css">
    <script src="js/certificate.js" defer></script>
</head>
<body>
    <nav>
        <div class="logo">
            <img href="/" src="images/logo.png" alt="Logo">
        </div>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/dashboard">Dashboard</a></a></li>
            <li><a href="/course">Courses</a></li>
        </ul>
        <div class="user-profile">
            <div class="user-initials">{{userInitials}}</div>
        </div>
    </nav> 
    
    <main>
    <div class="upload-form">
        <h2>Upload Certificate</h2>
        <form action="/upload-certificate" method="POST" enctype="multipart/form-data">
            <!-- Form fields for course details -->
            <div class="form-group">
                <label for="course-name">Course Name:<span class="required">*</span></label>
                <input type="text" id="course-name" name="courseName" required>
            </div>
            <div class="form-group">
                <label for="course-credits">Course Credits:<span class="required">*</span></label>
                <input type="number" id="course-credits" name="credits" required>
            </div>
            <div class="form-group">
                <label for="course-organization">Issuing Organization:<span class="required">*</span></label>
                <input type="text" id="course-organization" name="courseOrganization" required>
            </div>
            <div class="form-group">
                <label for="certificate-upload">Upload Course Certificate (PDF or Image):<span class="required">*</span></label>
                <input type="file" id="certificate-upload" name="certificate-upload" required>
            </div>
            <button type="submit" class="submit-button">Submit</button>
        </form>
        <a href="/dashboard" class="back-link">← Back</a>
    </div>
    </main>
    
    <footer>
        <div class="footer-info">
            <p>Address: 1, Nathibai Thackersey Road, Mumbai 400020</p>
            <p>Contact Information:</p>
            <p>Website: <a href="https://sndt.ac.in/">https://sndt.ac.in/</a></p>
            <p>Phone: 022-2203 1879 | 022-2203 2159</p>
        </div>
    </footer>
</body>
</html>
