<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="css/signup.css">
</head>
<body>
    <nav>
        <div class="header-banner">
            <div class="banner-bg"></div>
            <img class="banner-img" src="images/logo.png" alt="University Logo" />
            <div class="banner-text">
                <span class="banner-title">Shreemati Nathibai Damodar Thackersey Women’s University<br/></span>
                <span class="banner-subtitle">1, Nathibai Thackersey Road, Mumbai 400020</span>
            </div>
        </div>
    </nav>
    <main>
        <div class="upload-form">
            <h2>New Registration</h2>
            <form action="/signup" method="post">
                <div class="form-group">
                    <label for="student-name">First Name: <span style="color:red">*</span></label>
                    <input type="text" id="student-name" name="studentName" placeholder="First Name" required>
                </div>
                <div class="form-group">
                    <label for="student-name">Middle Name:</label>
                    <input type="text" id="student-name" name="studentName" placeholder="Middle Name" >
                </div>
                <div class="form-group">
                    <label for="student-name">Last Name: <span style="color:red">*</span></label>
                    <input type="text" id="student-name" name="studentName" placeholder="Last Name" required>
                </div>
                <div class="form-group">
                    <label for="student-prn">Student PRN: <span style="color:red">*</span></label>
                    <input type="number" id="student-prn" name="prnNumber" placeholder="PRN Number (16 Digits)" required>
                </div>
                <div class="form-group">
                    <label for="Email">Email id: <span style="color:red">*</span></label>
                    <input type="email" id="Email" name="Email" placeholder="Email" required>
                </div>
                <div class="form-group">
                    <label for="Contact">Contact number: <span style="color:red">*</span></label>
                    <input type="number" id="Contact" name="Contact" placeholder="Contact" required>
                </div>
                <div class="form-group">
                    <label for="college-name">College Name: <span style="color:red">*</span></label>
                    <select class="form-input" id="college-name" name="collegeName">
                        <option value="">Select your college</option>
                        <option value="Usha Mittal Institute of Technology">Usha Mittal Institute of Technology</option>
                        <option value="Sir Vithaldas Thakersey College of Home Science">Sir Vithaldas Thakersey College of Home Science</option>
                        <option value="Jankidevi Bajaj Institute of Management Studies">Jankidevi Bajaj Institute of Management Studies</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="ABC">ABC id: <span style="color:red">*</span></label>
                    <input type="number" id="ABC" name="abcId" placeholder="ABC ID (12 Digits)" required>
                </div>
                <div class="form-group">
                    <label for="password">Password: <span style="color:red">*</span></label>
                    <input type="text" id="password" name="password" placeholder="Password" required>
                </div>
                <button class="submit-button" type="submit">Sign Up</button>
            </form>

            <a href="/login" class="back-link">← Back</a>
        </div>
    </main>
    <script src="js/signup.js"></script>
</body>
</html>