<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/css/home.css"> <!-- Make sure the path is correct -->
</head>
<body>
  
<div class="container">
  <nav>
    <div class="logo">
        <img src="images/logo.png" alt="Logo">
    </div>
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/dashboard">Dashboard</a></a></li>
        <li><a href="/course">Courses</a></li>
    </ul>
    <div class="user-profile">
        <div class="user-initials">{{userInitials}}</div>
    </div>
  </nav>

  <section class="courses">
    <div class="section-title">Continue Learning <br></div>
    
    <div class="course-cards">
      <div class="card">
        <img src="https://via.placeholder.com/216x180" />
        <div class="card-details">
          <div class="course-name">Course 1</div>
          <div class="course-type">Online</div>
        </div>
      </div>
      <div class="card">
        <img src="https://via.placeholder.com/216x180" />
        <div class="card-details">
          <div class="course-name">Course 2</div>
          <div class="course-type">Online</div>
        </div>
      </div>
      <div class="card">
        <img src="https://via.placeholder.com/216x180" />
        <div class="card-details">
          <div class="course-name">Course 3</div>
          <div class="course-type">Offline</div>
        </div>
      </div>
    </div>
  </section>
</div>

{{!-- <footer>
  <div class="footer-info">
    <p>Address: 1, Nathibai Thackersey Road, Mumbai 400020</p>
    <p>Contact Information:</p>
    <p>Website: <a href="https://sndt.ac.in/">https://sndt.ac.in/</a></p>
    <p>Phone: 022-2203 1879 | 022-2203 2159</p>
  </div>
</footer> --}}
</body>
</html>